{{ form_start(formAjouterResto) }}
{{ form_errors(formAjouterResto) }}
<table>
    <tr>
        <td>{{ form_row(formAjouterResto.nom) }}</td>
        <td>{{ form_row(formAjouterResto.etoiles) }}</td>
        <td>{{ form_row(formAjouterResto.idChef) }}</td>
        <td>{{ form_row(formAjouterResto.submit) }}</td>
    </tr>
</table>
{{ form_end(formAjouterResto) }}