{% extends "layoutgeneral.html.twig" %}

{% block titre %}
    {{ parent() }} : Menu
{% endblock %}
{% block contenu %}
    <h4>Bienvenue sur le menu du Guide Michelin {{ nom }}</h4>
    <p>lien vers <a href="{{ path('guide_michelin_accueil',{'nom':nom}) }}"> Revenir à l'accueil </a></p>

    <p>lien vers <a href="{{ path('guide_michelin_ajouter_request') }}"> Ajouter un restaurant </a></p>

    {% for resto in restos %}
        <ul>
            <li> Restaurant n°{{ resto.id }}
                <ul>
                    <li> Nom : {{ resto.nom }} </li>
                    <li> Chef : {{ resto.idChef }}</li>
                    <li> Etoiles : {{ resto.etoiles }}</li>
                </ul>
            </li>
        </ul>
        <p><a href="{{ path('guide_michelin_voir', {'id':resto.id}) }}"> voir le restaurant </a></p>
    {% endfor %}
{% endblock %}